/* Defaults */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
                 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    font-size: 18px;
}

/* The rest */
body {
    header {
        background: white;   

        .container {
            padding: 1px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            column-gap: 20%;

            nav {
                ul {
                    list-style-type: none;
                    li, li a {
                        display: inline-block;
                        padding-inline: 3px;
                        color: #6B7280;
                        &:hover { color: #5A67D8; }
                    }
                }
            }
        }
    }

    main {
        section.overview-hero {
            background: #E2E8F0;
            padding: 70px;
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 8%;
                
                .overview-hero-text { max-width: 574px; }
                .overview-hero-image { img { max-width: 190px; } }
            }
        }

        .learn-about {
            padding-bottom: 30px;

            h2 {
                font-size: 24px;
                color: #48BB78;
                margin: 25px;
            }
            
            .cards {
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: space-evenly;
    
                .card {
                    min-width: 33.3%;
                    padding: 10px;
                    margin: 10px;
                    border: 1.5px solid #E2E8F0;
                    border-radius: 5px;
                    box-shadow: -1px 0px 2px #bbbdc4, 
                                 1px 0px 2px #bbbdc4,
                                 0px 2px 3px #bbbdc4;
                    
                    h3 {
                        color: #48BB78;
                        font-size: 21px;
                    }
                    img { max-height: 200px; margin: -5px; }
                }
            }
        }
    
        .testing {
            background: #4A5568;
            padding: 90px;
            .container {
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;

                .cta{ margin: 30px; }

                a.btn {
                    white-space: nowrap;
                    background-color: #48BB78;
                    padding: 15px 40px;
                    border-radius: 5px;
                    color:white;
                }
            }
        }
    
        .stories {
            .container { display: grid; row-gap: 30px; padding: 80px 10px; }
            h2 { font-size: 24px;}
            h2, p>a { color: #5A67D8; }

            article { 
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                column-gap: 4%;
                img {
                    min-width:200px;
                    max-height:200px;
                    object-fit:cover;
                    border-radius:100px; 
                }
            }
        }
    
        .newsletter {
            background: #48BB78;
            color: white;
            padding-top: 50px;
            padding-bottom: 50px;
            .container { text-align: center; }
            form { display: flex; justify-content: center; column-gap: 8px;}
            
            .form-group > input, .btn {
                border-radius: 5px; border-style: none; padding: 15px 30px;
            }

            .btn { background: #5A67D8; color: white; }
        }
    }

    footer {
        background: #4A5568;
        color: white;
        padding:10px;
        
    }

    .container {
        margin: 0 auto;
        max-width: 960px;
        width: 100%;
    }
}